auto-save-list
.cask
elpa
anaconda-mode
company-statistics-cache.el
.cache/
recentf
eln-cache
/bin/
/tutorial/
/server/
projects
/quelpa/
librime
transient/history.el
/.mc-lists.el
/semanticdb/
/url/
tramp
/.lsp-session-v1
